{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}blogpage{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block content %}
    <div class="centered">
        <section>
            <h1>{{ page.title }}</h1>

            <div class="meta">
                <div>
                    <time datetime="{{ page.published_at|date:"c" }}"
                        title="{{ page.published_at|date:"r" }}">
                        {{ page.published_at|date:"DATE_FORMAT" }}
                    </time>
                </div>

                <div class="authors">
                    {% with authors=page.authors.all %}
                        {% if authors %}
                            {% for author in authors %}

                                <div class="author">
                                    {% if author.author_image %}
                                        {% image author.author_image fill-50x50 %}
                                    {% endif %}
                                    {{ author.name }}
                                </div>

                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
            </div>

            <div class="intro">{{ page.intro }}</div>

            <div class="content">
                {% for block in page.body %}
                    {% if block.block_type == 'heading' %}
                        <h2>{{ block.value }}</h2>
                    {% elif block.block_type == 'image' %}
                        {% image block.value height-600 width-1200 class='img-fluid' %}
                    {% elif block.block_type == 'paragraph' %}
                        <p>{{ block.value }}</p>
                    {% endif %}
                {% endfor %}
            </div>

            {% if page.main_image %}
                <div class="gallery">
                    <h2>Gallery</h2>
                    <div class="gallery-images">

                        {% for item in page.gallery_images.all %}
                            <div class="gallery-image">
                                {% image item.image fill-320x240 %}
                                <p>{{ item.caption }}</p>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            {% endif %}

            {% with tags=page.tags.all %}
                {% if tags %}
                    <div class="tags">
                        <h3>Tags</h3>
                        {% for tag in tags %}
                            <a href="{% slugurl 'tags' %}?tag={{ tag }}"><button type="button">{{ tag }}</button></a>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

            <div><a href="{{ page.get_parent.url }}">Return to blog</a></div>
        </section>
    </div>
{% endblock %}