{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}blogpage{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block content %}
    <section>
        <h1>{{ page.title }}</h1>

        <div class="meta">
            <div>
                <time datetime="{{ page.published_at|date:"c" }}"
                    title="{{ page.published_at|date:"r" }}">
                    {{ page.published_at|date:"DATE_FORMAT" }}
                </time>
            </div>

            <div>
                {% with authors=page.authors.all %}
                    {% if authors %}
                        {% for author in authors %}
                            {% if author.author_image %}
                                {{% image author.author_image fill-40x60 %}}
                            {% endif %}
                            {{ author.name }}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>

        <div class="intro">{{ page.intro }}</div>

        <div class="content">{{ page.body }}</div>

        {% if page.main_image %}
            <div class="gallery">
                <h2>Gallery</h2>
                <div class="gallery-images"></div>
                    {% for item in page.gallery_images.all %}
                        <div class="gallery-image">
                            {% image item.image fill-320x240 %}
                            <p>{{ item.caption }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% with tags=page.tags.all %}
            {% if tags %}
                <div class="tags">
                    <h3>Tags</h3>
                    {% for tag in tags %}
                        <a href="{% slugurl 'tags' %}?tag={{ tag }}"><button type="button">{{ tag }}</button></a>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <div><a href="{{ page.get_parent.url }}">Return to blog</a></div>
    </section>
{% endblock %}