:root {
    font-size: 18px;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.6em;
}

header, section, footer {
    > .content {
        width: clamp(800px, 70%, 100%);
    }
}

header .top-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    & nav.nav-items {
        flex-grow: 1
    }

    /* https://stackoverflow.com/questions/6933941/clickable-icon-inside-input-field */
    & form.search {
        position: relative;
        box-sizing: border-box;

        & input {
            height: 1.3rem;
        }

        & .search-icon {
            position: absolute;

            right: 0.32rem;
            top: 0.32rem;
        }
    }
}

nav {
    > ul, > ol {
        list-style-type: none;

        > li {
            display: inline-block;
        }
    }
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chevron-icon {
    width: 8px;
    height: 16px;
    margin: 0 10px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
