:root {
    font-size: 18px;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.6em;
}

h1, h2, h3 {
    margin: 0;
}

time {
    font-size: 0.9rem;
}

header, section, footer {
    > .content {
        width: clamp(800px, 70%, 100%);
    }
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
}

:root {
    --header-bg-color: white;
    --header-border-color: lightgrey;
    --footer-bg-color: #afcd00;
    --footer-border-color: lightgrey;
}

header {
    background-color: var(--header-bg-color);
    border-bottom: 2px solid var(--header-border-color);

    & .top-header {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        font-weight: bold;

        & .logo {
            font-size: 2rem;
            margin-right: 2rem;
        }

        & nav.nav-items {
            flex-grow: 1;
            font-size: 1.2rem;

            & li {
                margin: 0 2rem;
            }
        }

        /* https://stackoverflow.com/questions/6933941/clickable-icon-inside-input-field */

        & form.search {
            position: relative;
            box-sizing: border-box;

            & input {
                padding: 0.2rem;

                height: 1.6rem;
            }

            & .search-icon {
                position: absolute;

                right: 0.3rem;
                top: 0.3rem;
            }
        }
    }
}

section {
    margin: 2rem 0;
}

footer {
    background-color: var(--footer-bg-color);
    border-top: 2px solid var(--header-border-color);
}

nav {
    > ul, > ol {
        list-style-type: none;

        > li {
            display: inline-block;
        }
    }
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chevron-icon {
    width: 8px;
    height: 16px;
    margin: 0 10px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
