header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    > nav {
        flex-grow: 1;
    }
}

nav {
    > ul, > ol {
        list-style-type: none;

        > li {
            display: inline-block;
        }
    }
}

form.search {
    > .search-icon {
        position: absolute;
        top: 25px;
        right: 12px;
    }
}

.chevron-icon {
    width: 8px;
    height: 16px;
    margin: 0 10px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}